@page "/card"
@using ComponentSandbox.Models

<JGCard Id="Card1">
    <CardHeader >
        <p style="color: whitesmoke">Example 1</p>
    </CardHeader>
    <CardContent>
        <p style="color: whitesmoke">Content 1</p>
    </CardContent>
</JGCard>

<JGCard Id="Card2">
    <CardHeader>
        <div class="card-header-avatar">
            <div class="card-header-avatar-left">
                <p>(Name...)</p>
            </div>
            <div class="card-header-avatar-right">
                <Avatar Name="JG"/>
            </div>
        </div>
    </CardHeader>
    <CardContent>
        <p style="color: whitesmoke">Content 2</p>
    </CardContent>
</JGCard>

<h3> Cards looping over a Grid</h3>

<JGGrid DataSource="@Data" TItem="Person" Virtualize="true">
    <GridRow Id="@context.Id.ToString()" Key="@context.Id.ToString()">
        <GridColumn>
            <JGCard>
                <CardHeader>
                    <p style="color: whitesmoke">@context.FirstName</p>
                </CardHeader>
                <CardContent>
                    <p style="color: whitesmoke">@context.Email</p>
                </CardContent>
            </JGCard>
        </GridColumn>
    </GridRow>
</JGGrid>

@code {

    ICollection<Person> Data = new List<Person>()
    {
        new Person(){ Id = 0, FirstName = "Jon", LastName = "Gucciardi", Email = "JonG@email.com"},
        new Person(){ Id = 1, FirstName = "Tom", LastName = "Long", Email = "TomL@email.com"},
        new Person(){ Id = 2, FirstName = "Stacy", LastName = "Wharswhick", Email = "StacyW@email.com"},
        new Person(){ Id = 3, FirstName = "Greg", LastName = "Harris", Email = "GregH@email.com"},
        new Person(){ Id = 4, FirstName = "Mike", LastName = "Comolli", Email = "MikeC@email.com"},
        new Person(){ Id = 5, FirstName = "Oriana", LastName = "Comolli", Email = "OrianaC@email.com"},
        new Person(){ Id = 6, FirstName = "Bapa", LastName = "Gucciardi", Email = "BapaG@email.com"},
        new Person(){ Id = 7, FirstName = "Gabrielle", LastName = "Gucciardi", Email = "GabrielleGT@email.com"},
        new Person(){ Id = 8, FirstName = "Clayton", LastName = "Berger", Email = "ClaytonB@email.com"},
        new Person(){ Id = 9, FirstName = "Tasha", LastName = "Unknown", Email = "TashaU@email.com"},
        new Person(){ Id = 10, FirstName = "Blazor", LastName = "Wasm", Email = "BlazorW@email.com"},
    };

}